:root {
  --white-color: #fff;
  --secondary-color: #f9f9f9;
  --background-color: #f4f4f9;
  --button-submit: #FF69B4;
  --light-pink: rgba(255, 216, 237, 0.7);
  --button-submit-hover: #FF1493;
  --button-submit-border: #ff4fa7;
  --pink-text: #c85b8c;
  --simple-button: #D5D5D570;
  --simple-button-hover: #D5D5D5C6;
  --button-delete: #D8000C;
  --button-accept: #00A300;
  --cancel-button: #53535389;
  --title-color: #665967;
  --subtitle-color: #665967C1;
  --text-color: #665967;
  --dark-shade: #00000019;
  --border-style: 1px solid #ccc;
  --border-radius: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto-Light, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body, html {
  overflow-x: hidden;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  text-decoration: none;
  font-weight: 270;
}

button path {
  fill: var(--white-color);
}

button {
  padding: 7px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 600;
  border-radius: var(--border-radius);
}

input {
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
}

input::placeholder {
  color: #999;
}

textarea {
  resize: none;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  margin-top: 10px;
  background-color: #f5f5f5;
}

.submitButton {
  text-align: center;
  text-shadow: 0 1px 1px var(--dark-shade);
  padding: 9px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid var(--button-submit-border);
  background-color: var(--button-submit);
  color: var(--white-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.submitButton a {
  font-weight: 600;
}

.submitButton:hover {
  background-color: var(--button-submit-hover);
}

.submitButton.submit {
  width: 100%;
}

.submitButton.save {
  width: 100px;
}

.submitButton:disabled,
.submitting {
  border: 1px solid #53535347;
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  transform: none;
}

.simpleButton.delete.submitting,
.simpleButton.delete:disabled {
  border: 1px solid #53535347;
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
  transform: none;
}

.submitting:hover,
.submitting.simpleButton.delete:hover {
  background-color: #ccc;
  color: #666;
}

.submitting.save {
  width: 140px;
}

.submitting.save:hover {
  background-color: #ccc;
}

.simpleButton {
  margin-top: 20px;
  color: #2d1e30;
  font-weight: 600;
  padding: 9px 13px 10px 13px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
  border: var(--border-style);
  background-color: var(--simple-button);
}

.simpleButton a {
  font-weight: 600;
}

.simpleButtonText.submit {
  color: #2d1e30;
  text-shadow: 0 1px 1px var(--dark-shade);
}

.simpleButton.delete {
  color: var(--button-delete);
}

.simpleButton.accept {
  color: var(--button-accept);
}

.simpleButton.submit:hover {
  background-color: var(--simple-button-hover);
}

.simpleButton.delete:hover {
  background-color: var(--button-delete);
  color: var(--white-color);
}

.simpleButton.accept:hover {
  background-color: var(--button-accept);
  color: var(--white-color);
}

.simpleButton.submit.resize {
  width: 100px;
}

.cancelButton {
  width: 100%;
  border-radius: var(--border-radius);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 1px solid #53535347;
  background-color: var(--cancel-button);
  text-shadow: 0 1px 1px var(--dark-shade);
  margin-top: 20px;
}

.cancelButton a {
  font-weight: 600;
}

.cancelButton:hover {
  background-color: rgba(83, 83, 83, 0.41);
}

.linkButton {
  font-size: 15px;
  align-content: center;
  color: #ff008d;
  transition: color 0.3s ease;
  cursor: pointer;
}

.linkButton:hover {
  text-decoration: underline;
}

.linkButton.cancel {
  height: 100%;
  position: relative;
  bottom: 110px;
}

.titleFontRed {
  color: var(--button-delete);
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.paginationButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

.paginationButton {
  padding: 8px 15px 4px 15px;
  margin: 0 5px;
  border-radius: 8px;
  color: var(--button-submit);
  background-color: #ffffff;
  border: 1px solid var(--button-submit-border);
  text-shadow: 0 1px 1px var(--dark-shade);
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}

.paginationButton:hover {
  background-color: var(--button-submit);
  color: #ffffff;
}

.warningText {
  color: rgba(255, 118, 34, 0.82);
  font-weight: lighter;
  font-style: italic;
  font-size: 13px !important;
  text-align: left !important;
  margin-top: 1px;
}

.errorText {
  color: red !important;
  font-weight: lighter;
  font-style: italic;
  font-size: 11px !important;
  text-align: left !important;
}

.errorContainerCats {
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 500px;
}

.errorMessageCats {
  color: #757575;
  font-size: 19px;
  text-align: center;
}