.catItemHeader {
  position: absolute;
  top: 7px;
  right: 7px;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 10px 10px 6px 10px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.heartIcon {
  color: #e37fb6;
  width: 20px;
  height: 20px;
}