doctype html
html
    body
        h1 Hello #{firstName} #{lastName},
        p Your account has been successfully activated. You can now log in and enjoy our services.
        p
            | Best regards,
            br
            | The Adopt a Cat Team
