doctype html
html
    body
        h1 Hello #{firstName} #{lastName},
        p Please reactivate your account by clicking the link below.
        p Click here:
            a(href=resetLink) Reactivate Account
        p If you did not request this, please ignore this email.
        p
            | Best regards,
            br
            | The Adopt a Cat Team
