.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}

.authForm {
  border: 1px solid #ccc;
  margin-top: 100px;
  padding: 5px 70px 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px var(--dark-shade);
}

.formContainer {
  min-width: 510px;
}

.reset {
  margin-left: 50px;
}

.reactivate {
  margin-left: 20px;
}

.formConfirmation {
  border: 1px solid #ccc;
  margin-top: 100px;
  padding: 5px 70px 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.authForm h1,
.authForm h2 {
  font-size: 40px;
  color: var(--title-color);
}

.authForm h1 {
  text-align: center;
}

.authForm h2 {
  text-align: left;
}

.authForm p {
  font-size: 15px;
  text-align: center;
  max-width: 400px;
  word-wrap: break-word;
}

.buttonContainer {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.linksContainer {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.linksContainer.auth {
  margin-top: 30px;
}

.passwordInput {
  position: relative;
  flex-direction: column;
  align-items: flex-start;
}

.passwordInput input {
  flex: 1;
  padding-right: 2.5rem;
}

.togglePassword {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  height: 100%;
}

.togglePassword.show {
  top: 40%;
}

.formRow {
  display: flex;
  margin-bottom: 20px;
}

.formRow label {
  justify-content: space-between;
  flex: 1;
  margin-right: 10px;
}

.confirmContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}