.containerLogout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 70px;
  min-height: 200px;
}

.formLogout {
  display: flex;
  border: 1px solid #ccc;
  padding: 0 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.userImageLogout {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: var(--border-style);
}

.userImageLogout.catAdopt {
  width: 30px;
  height: 30px;
}

.userIcon {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  color: rgba(147, 146, 146, 0.84);
}

.titleLogout {
  font-size: 33px;
  color: #665967;
  text-align: center;
}

.subtitleLogout {
  font-size: 20px;
  color: rgba(147, 146, 146, 0.84);
  text-align: center;
  font-weight: 420;
}

.username {
  font-weight: 600;
}

.link.logout {
  font-size: 15px;
  width: 30%;
  color: #2d1e30;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  border: 1px solid #ccc;
  background-color: rgba(213, 213, 213, 0.44);
  text-align: center;
  font-weight: 600;
}

.formLogout button:hover {
  background-color: rgba(213, 213, 213, 0.78);
}

@media (max-width: 1200px) {
  .titleLogout {
    font-size: 20px;
  }

  .formLogout {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .containerLogout {
    margin-top: 160px;
  }
}

@media (max-width: 375px) {
  .formLogout {
    width: 300px;
  }

  .userImageLogout {
    width: 40px;
    height: 40px;
  }

  .subtitleLogout {
    font-size: 15px;
  }
}