.userDetailContainer {
  padding: 0 20px 0 20px;
  margin-top: 50px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  position: relative;
}

.userRootContainer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: flex-start;
}

.linksNavibar,
.userContent {
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  padding: 20px;
}

.linksNavibar {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 230px;
  width: 210px;
  flex-shrink: 0;
}

.linksNavibar a {
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  background-color: white;
  transition: background-color 0.3s, border-left 0.3s;
}

.linksNavibar a:hover {
  background-color: rgba(255, 192, 203, 0.15);
}

.linksNavibar a.active {
  border-left: 6px solid #ae3d72;
  background-color: rgba(255, 192, 203, 0.15);
  color: #FF69B4;
}

.link {
  color: black;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  background-color: white;
  transition: background-color 0.3s, border-left 0.3s;
  font-weight: 270;
  cursor: pointer;
  text-align: left;
  border: none;
  width: 100%;
}

.link:hover {
  background-color: rgba(255, 192, 203, 0.15);
}

.userContent {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  resize: none;
}

.userContent.myProfile {
  width: 1000px;
}

.userSlideBarLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--border-radius);
  align-items: flex-start;
  flex: 1;
}

.userSlideBarLeft label {
  width: 100%;
}

.imageUploadContainer {
  position: relative;
}

.imageContainerUpload {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.userImage,
.selectedImage,
.cameraIcon,
.cameraIconCentered,
.faUserCircle {
  font-size: 280px;
  border-radius: 50%;
  width: 170px;
  height: 170px;
  color: #ccc;
  object-fit: cover;
}

.cameraIcon,
.cameraIconCentered,
.selectedImage {
  border: 2px solid #ccc;
  object-fit: cover;
}

.selectedImage:hover {
  border: 2px solid #FF69B4;
}

.cameraIcon,
.cameraIconCentered {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px !important;
}

.cameraIconAbove {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba(216, 216, 216, 0.71);
  color: var(--button-submit);
  border-radius: 50%;
  padding: 7px;
  display: flex;
  font-size: 20px;
}

.cameraIconAbove:hover {
  background-color: rgba(216, 216, 216, 0.91);
}

.userContent .titleFont,
.userContent .textFont,
.userContent .subtitleFont {
  color: #665967;
  text-align: left;
}

.userContent .titleFont {
  margin-top: 20px;
  font-size: 33px;
  font-weight: bold;
}

.userContent .textFont {
  font-size: 27px;
  font-weight: 370;
}

.userContent .subtitleFont {
  font-size: 20px;
  font-weight: 200;
}

.userContent .userPersonal {
  font-size: 15px;
  font-weight: 200;
}

.userSlideBarRight {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 30px;
  padding: 20px;
  flex: 2;
}

.userSlideBarRight .textFont {
  font-size: 15px;
}

.controlProfileContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid #ccc;
  padding: 9px;
}

.green {
  border: 1px solid rgba(0, 128, 0, 0.44);
  background-color: green;
}

.gray {
  background-color: rgb(213, 213, 213);
}

.experienceCircles {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.userPersonalInput {
  width: 100%;
}

.controlProfileContainer .submitButton {
  margin-top: 20px;
}

.save:hover {
  background-color: #FF1493;
}

.hobbiesContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.hobbyTag {
  background-color: rgba(224, 224, 224, 0.25);
  padding: 6px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.address {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.address label {
  width: 100%;
}

.usernameForm,
.passwordForm {
  width: 600px;
}

.addressForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.addressForm label {
  margin-top: 10px;
}

.deleteAccountContainer {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.deleteAccountInput {
  border: 2px solid var(--button-delete);
}

.deleteAccountInput:focus {
  border: 2px solid var(--button-delete);
}

.unSelect {
  -webkit-user-select: none;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: var(--simple-button);
}

.closeButton {
  background-color: transparent;
  border: var(--border-style);
  cursor: pointer;
  padding: 12px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--simple-button-hover);
  transition: color 0.3s, box-shadow 0.3s;
}

.closeButton:hover, .closeButton:focus {
  color: var(--button-delete);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2)
}

.faXmark {
  font-size: 16px;
}

.imageUpload {
  cursor: pointer;
}

.deleteAccountHeader {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.react-datetime {
  position: relative;
}

.reactDatetimePicker {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reactDatetimePicker .rdtPicker {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.reactDatetimePicker .rdtPicker table {
  width: 100%;
  border-spacing: 0;
}

.reactDatetimePicker .rdtPicker th,
.reactDatetimePicker .rdtPicker td {
  text-align: center;
  padding: 5px;
  cursor: pointer;
}

.reactDatetimePicker .rdtPicker th {
  color: var(--button-submit);
  font-weight: 400;
}

.reactDatetimePicker .rdtPicker td {
  border-radius: 8px;
  margin-right: 10px;
}

.reactDatetimePicker .rdtPicker td:hover,
.reactDatetimePicker .rdtPicker td.rdtActive {
  background: var(--button-submit-hover);
  color: #fff;
}

@media (max-width: 1200px) {
  .userContent,
  .userContent.myProfile {
    width: 80%;
  }

  .usernameForm, .passwordForm {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .userRootContainer {
    margin-top: 110px;
    flex-direction: row;
  }

  .userContent,
  .userContent.myProfile {
    width: 100%;
    flex-direction: column;
  }

  .userSlideBarRight {
    margin-left: 0;
    margin-top: 10px;
  }

  .deleteAccountContainer {
    width: 100%;
  }

  .usernameForm, .passwordForm {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .userContent,
  .userContent.myProfile {
    width: 100%;
    padding: 10px;
  }

  .usernameForm, .passwordForm {
    width: 100%;
  }
}
