@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.header {
  background: linear-gradient(to right, #f9f9f9, #ffffff);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 0 20px;
}

.linksContainer {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: 'Great Vibes', cursive;
  margin-right: 10px;
  font-size: 30px;
  background: linear-gradient(to right, #FF1493, #FF69B4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loginLink a {
  text-decoration: none;
  background-color: #FF69B4;
  color: white;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s;
}

.loginLink a:hover {
  background-color: #FF1493;
}

.links {
  margin-left: 20px;
  margin-right: 20px;
  color: #FF69B4;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.links:hover {
  color: #FF1493;
}

.profileLink {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 50px;
  margin-right: 20px;
  color: #FF69B4;
  transition: background-color 0.3s, color 0.3s;
}

.profileLink:hover {
  background-color: #FFC0CB;
  color: #FF1493;
}

.controlContainer {
  display: flex;
  align-items: center;
  position: relative;
}
