.nav {
  background-color: #333;
  padding: 10px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
  margin-right: 10px;
}

.nav a {
  text-decoration: none;
  color: white;
}

.nav a.active {
  font-weight: bold;
}

.header {
  background-color: pink;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.loginLink a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}